.alertContainer {
    width: 400px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    margin: 15px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.alertInfoText {
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
}

.alertTitle {
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.95);
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 48px;
    text-align: center;
    font-family: Arial, sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.alertContainer {
    animation: fadeIn 0.5s ease forwards;
}

.alertContainerExit {
    animation: fadeOut 1s ease forwards;
}